# Local FTP Proxy Credentials
LOCAL_USER=ftpproxy
LOCAL_PASS=YourLocalSecret123!

# Upstream/Target FTP Server
TARGET_HOST=ftp.server.com
TARGET_PORT=21
TARGET_USER=upstreamuser
TARGET_PASS=upstreamuserpass

# Server Configuration
PUBLIC_IP=25.02.12.12
PASV_MIN=41000
PASV_MAX=41011
